extends layout

block content
  h2 #{title}
  h3 #{message}
  p UshopWell.com is the premier online marketplace to discover unique products  where we provide sellers a stage to promote and sell their items to. 
      br

UshopWell.com is where the world connects to buyer and seller a vast variety of items of goods from Handmade and Vintage to Security and Survival. 
    br

Enrollment is free. Sellers can opt to pay maintenance fee and are eligible for many marketing opportunities.
We screen and authorized sellers to provide our visitors the best customer service experience. 
