extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    | 4127 Green Hawk TR
    br
    | Decatur GA 30035
    br
    abbr(title='Phone') P: 
    | 404.617.6983

  address
    strong Support: 
    a(href='mailto:ushopwell2@gmail.com') Support@UshopWell.com
    br
    strong Marketing: 
    a(href='mailto:ushopwell2@gmail.com') Marketing@UshopWell.com
