extends layout

block  content
  .jumbotron
    h1 USHOPWELL inc.
    p.lead  UshopWell.com  is a third-party Online MarketPlace portal that continues your campaign year round to increase revenue.  We are Google and Bing merchant shopping affiliated. 
    p
      a.btn.btn-primary.btn-large(href='https://www.ushopwell.com/index.php?route=information/buy') Learn more &raquo;
  .row
    .col-md-4
      h2 Getting started
      p Membership is Free and only 10% Commission on items sold. 
      p
        a.btn.btn-default(href='https://www.ushopwell.com/index.php?route=information/sell') Learn more &raquo;
    .col-md-4
      h2 Get more sales
      p 
      
      SELLERS WEB PAGE INCLUDES:
          br
     
      PRODUCT IMAGES - upload up to 75 product images
      br

      SHOPPING CART - accept orders and secure credit card payments online.
      br
      
      WEB LINK - add a link to your own personal web site.
      br
      
      STATISTICS - track how many new buyers, total buyers.
      br
      
      PROFILE - include your Product, About Us Statement, Terms & Policy, etc. and create your own custom headings.
      br
      
      CUSTOM UPLOADS - customize your web page with top and bottom banner images, logos
      br
      
      COUPONS - create customer loyalty with special discount and Coupons
      br
      br
      
      SELF-ADMINISTRATION - set up, manage, and update your web page online with our easy-to-use system.
      br
      br
      
      CUSTOMER SUPPORT - available by phone or email 9am-5pm EST M-F
      
     
      p

       a.btn.btn-default(href='https://www.ushopwell.com/index.php?route=product/manufacturer') Learn more &raquo;
    .col-md-4

